html, body {
    background-color: #21232A;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1.3rem;
    margin: 2% auto;
    padding: 50px;
    text-align: center;
}

button {
    font-size: 1.3rem !important;
    padding:10px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px; 
}